.order-page {
    position: relative;
    width: 100%;
    height: auto;
    background: #f8f8ff;
}

.order-page .order-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
}

.order-page .order-left {
    width: 860px;
    height: auto;
}

.order-page .order-right {
    width: 360px;
    height: auto;
    margin-top: 86px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
  }
  
 .order-page .order-right .order-info-box {
  position: relative;
  width: 360px;
  height: auto;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  justify-content: center;
  text-align: center;
  background: linear-gradient(135deg, #ffffff 0%, #f5f7fa 100%);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06), 0 4px 12px rgba(0, 0, 0, 0.03);
  z-index: 1;
  overflow: hidden;
}

.order-page .order-right .order-info-box::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: linear-gradient(
    45deg,
    #fdfdfd,
    #ffffff
  );
  background-size: 400% 400%;
  animation: gradient-border 6s linear infinite;
  border-radius: 18px;
}

@keyframes gradient-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.order-page .order-info-box .member-box {
    width: 600px;
    height: auto;
    justify-content: center;
    align-items: center;
}
   .order-page .order-info-box .order-user-img > img {
    width: 100%;
    border-radius: 15px;
   }

     .order-page .order-info-box .info {
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 10px 10px 10px;
     }
  
  .order-page .order-info-box .order-user-name {
    margin-top: 10px;
    color: #ffb03b;
    font-family: "Satisfy";
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
  }
  
  .order-page .order-info-box .order-user-prof {
    color: rgb(161, 161, 161);
    margin-top: 10px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
  }
  
  .order-page .order-info-box .city {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
  }
   
  .order-page .order-info-box .order-user-img  {
    display: block;
    flex-direction: row-reverse;
  }

  .order-page .order-info-box .order-user-img .order-user-icon-box {
    width: 30px;
    height: 30px; 
    border-radius: 37px;
    background: rgba(0, 0, 0, 0.33);
  }
  
  .order-page .order-info-box .card-input {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgb(180, 170, 170);
    border-radius: 5px;

    background: rgb(245, 245, 245);
    color: rgb(119, 119, 119);
    font-family: Commissioner;
    font-size: 15px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  .order-page .order-info-box .card-detail {
    margin-top: 10px;
    padding: 10px;
    width: 47%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgb(180, 170, 170);
    border-radius: 5px;

    background: rgb(245, 245, 245);
    display: inline-flex;
    flex-direction: row;
    color: rgb(119, 119, 119);
    font-family: Commissioner;
    font-size: 15px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
  }

  .order-page .order-info-box .order-payment-method {
    position: relative;
    width: 243px;
    height: 25.68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.order-page .order-left .order-nav-frame {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #f8f8ff;
}

.order-page .order-left .order-nav-frame .table-list {
    display: flex;
    justify-content: space-between;
}

.order-page .css-lgsv261 {
    width: 75%;
}

.order-page .css-heg063-Muitabs-flexContainer {
    justify-content: space-between;
}
 
.order-page .order-main-content {
    justify-content: space-between;
}

.order-page .css-19kzrtu {
    padding-top: 24px;
}

.order-page .order-main-box {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 285px;
    margin-bottom: 25px;
    background: linear-gradient(145deg, #fdfcff, #e8e9f3);
    box-shadow:
    -12px 12px 20px rgba(0, 0, 0, 0.12), 
    inset 0px -3px 18px 10px rgba(107, 107, 181, 0.12);  
    border-radius: 16px;
}

.order-page .order-main-box .order-box-scroll {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 105px;
    max-height: 205px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: scroll;
}

.order-page  .order-main-box .order-box-scroll::-webkit-scrollbar {
    width: 7px;
}

.order-page  .order-main-box .order-box-scroll::-webkit-scrollbar-thumb {
    background-color: #8989db;
    border-radius: 5px;
}

.order-page .order-main-box  .order-name-price {
    position: relative;
    height: 47px;
    margin-top: 5px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.order-page .order-main-box  .order-name-price .order-dish-img {
    position: relative;
    width: 50px;
    height: 47px;
    border-radius: 29px;
    background-size: cover;
}

.order-page .order-box-scroll .order-name-price .title-dish {
    position: relative;
    width: 260px;
    height: 36px;
    margin-left: 20px;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    color: #000000;
}

.order-page .order-box-scroll .order-name-price .price-box {
    position: relative;
    max-width: 170px;
    height: 100%;
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.order-page .order-box-scroll .order-name-price .price-box p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #262626;
}

.order-page .order-main-content .order-main-box .total-price-box {
    position: relative;
    width: 100%;
    height: 41px;
    margin: 7px 0 7px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
}

.order-page .order-main-content .order-main-box .total-price-box .cancel-button {
    border-radius: 10px;
    max-height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.order-page .order-main-content .order-main-box .total-price-box .verify-button {
  color: #fff;
  background: linear-gradient(135deg, #f6c343, #d99904); 
  border: 1px solid #f6c343;
  box-shadow: 0 4px 14px rgba(246, 195, 67, 0.4);
  border-radius: 12px;
  padding: 10px 24px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.order-page .order-main-content .order-main-box .total-price-box .box-total {
    position: relative;
    max-width: 535px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.order-page .total-price-box .box-total p {
    margin-left: 20px;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    color: #000000;
}

.order-page .total-price-box .box-total .data-compl {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    color: #000000;
}